<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>i808X proc emu</title>
<link rel="stylesheet" href="style.css">
</head>
<body>

<div id='app'>

<div class='left'>
	<h1>i808X proc emu</h1>

	<div class='hbox' style='justify-content: space-around;'>
		<div class='vbox'>
			<button :disabled='runned' v-on:click="step(1)">Step</button>
			<button :disabled='runned' v-on:click="run_cpu">Run</button>
			<button :disabled='!runned' v-on:click="stop_cpu">Stop</button>
		</div>
		<div class='reg vbox'>
			<div class='hbox'>
				<label>A: <input readonly :value='hex8(cpu.a)'></label>
				<label>F: <input readonly :value='hex8(cpu.f)'></label>
			</div>
			<div class='hbox'>
				<label>B: <input readonly :value='hex8(cpu.b)'></label>
				<label>C: <input readonly :value='hex8(cpu.c)'></label>
			</div>
			<div class='hbox'>
				<label>D: <input readonly :value='hex8(cpu.d)'></label>
				<label>E: <input readonly :value='hex8(cpu.e)'></label>
			</div>
			<div class='hbox'>
				<label>H: <input readonly :value='hex8(cpu.h)'></label>
				<label>L: <input readonly :value='hex8(cpu.l)'></label>
			</div>
			<div class='hbox'>
				<label>PC: <input class='pc' readonly :value='hex16(cpu.pc)'></label>
			</div>
			<div class='hbox'>
				<label>SP: <input class='sp' readonly :value='hex16(cpu.sp)'></label>
			</div>
		</div>

		<div class='vbox'>
			<label><input readonly onclick='return false;' type="checkbox" v-model='sign'> Sign</label>
			<label><input readonly onclick='return false;' type="checkbox" v-model='zero'> Zero</label>
			<label><input readonly onclick='return false;' type="checkbox" v-model='interrupt'> Interrupt</label>
			<label><input readonly onclick='return false;' type="checkbox" v-model='aux'> Aux Carry</label>
			<label><input readonly onclick='return false;' type="checkbox" v-model='parity'> Parity</label>
			<label><input readonly onclick='return false;' type="checkbox" v-model='carry'> Carry</label>

			<p>Cycles: {{ cycles }}</p>
		</div>



	</div>

	<br>
	<br>
	<h2>RAM</h2>

	<table border=0>
	<tr>
		<td id='hex-title'></td>
		<td id="t">
			<span v-for='n in 0xF + 1'>
				{{ hex8(n-1) }}
			</span>
		</td>
	</tr>

	<tr>
		<td id=l>0000</td>
		<td><textarea spellcheck=false id=hex cols=48></textarea>
	</tr>
	</table>

	<p>
	Code:
	<input v-model='code' style='width:4em' />
	<span v-text='asm_8(xcode)'></span>
	</p>

<table border=0 cellpadding=4 cellspacing=1 class='xtable'>

</tr><tr>
	<td>reg</td>
	<td>B</td>
	<td>C</td>
	<td>D</td>
	<td>E</td>
	<td>H</td>
	<td>L</td>
	<td>M</td>
	<td>A</td>
	<td>B</td>
	<td>C</td>
	<td>D</td>
	<td>E</td>
	<td>H</td>
	<td>L</td>
	<td>M</td>
	<td>A</td>


<tr><th>HIGH</th><th colspan=16>LOW</th></tr>

<tr>
	<td></td>
	<td>0</td>
	<td>1</td>
	<td>2</td>
	<td>3</td>
	<td>4</td>
	<td>5</td>
	<td>6</td>
	<td>7</td>
	<td>8</td>
	<td>9</td>
	<td>A</td>
	<td>B</td>
	<td>C</td>
	<td>D</td>
	<td>E</td>
	<td>F</td>

	<th title='LXI INX DCX DAD'>RP</th>


</tr><tr><td>0</td>
	<td class=one title='00'>NOP</td>

	<td class=three rowspan=4 title='01 11 21 31'>LXI</td>

	<td class=one rowspan=2 title='02 12'>STAX</td>

	<td class=one rowspan=4 title='03 13 23 33'>INX</td>
	<td class=one rowspan=4 title='04 14 24 34'>INR</td>
	<td class=one rowspan=4 title='05 15 25 35'>DCR</td>

	<td class=two rowspan=4 title='06 16 26 36'>MVI</td>

	<td title='07' class='one'>RCL</td>

	<th rowspan=4 title='08 18 28 38'>-</th>

	<td class=one rowspan=4 title='09 19 29 39'>DAD</td>

	<td class=one rowspan=2 title='0a 1a'>LDAX</td>


	<td class=one rowspan=4 title='0b 1b 2b 3b'>DCX</td>
	<td class=one rowspan=4 title='0c 1c 2c 3c'>INR</td>
	<td class=one rowspan=4 title='0d 1d 2d 3d'>DCR</td>
	<td class=two rowspan=4 title='0e 1e 2e 3e'>MVI</td>

	<td title='0f' class='one'>RCR</td>

	<th title='_00_'>BC</th>



</tr><tr><td>1</td>
	<th title='10'>-</th>
	<td title='17' class='one'>RAL</td>
	<td title='1F' class='one'>RAR</td>

	<th title='_01_'>DE</th>

</tr><tr><td>2</td>
	<th title='only 8085'>RIM</th>

	<td title='22' class=three>SHLD</td>
	<td title='27' class='one'>DDA</td>
	<td title='2a' class=three>LHLD</td>
	<td title='2f' class='one'>CMA</td>

	<th title='_10_'>HL</th>

</tr><tr><td>3</td>
	<th title='only 8085'>SIM</th>
	<td title='32' class=three>STA</td>
	<td title='37' class=one>STC</td>
	<td title='3a' class=three>LDA</td>
	<td title='3f' class=one>CMC</td>

	<th title='_11_'>SP</th>



</tr><tr><td></td>

</tr><tr><td>4</td>
	<td class='one' colspan=16 rowspan=3>MOV</td>

</tr><tr><td>5</td>
</tr><tr><td>6</td>
</tr><tr><td>7</td>
	<td class='one' colspan=6>MOV</td>
	<td class='one' colspan=1 title='76'>HLT</td>
	<td class='one' colspan=9>MOV</td>

</tr><tr><td></td>


</tr><tr><td>8</td>
	<td colspan=8>ADD</td>
	<td colspan=8>ADC</td>
</tr><tr><td>9</td>
	<td colspan=8>SUB</td>
	<td colspan=8>SBB</td>
</tr><tr><td>A</td>
	<td colspan=8>ANA</td>
	<td colspan=8>XNA</td>
</tr><tr><td>B</td>
	<td colspan=8>ORA</td>
	<td colspan=8>CMP</td>



</tr><tr><td></td>

</tr><tr><td>C</td>
	<td title='c0' class=one>RNZ</td>
	<td class=one rowspan=4 title='c1 d1 e1 f1'>POP</td>

	<td title='c2' class=three>JNZ</td>
	<td title='c3' class=three>JMP</td>
	<td title='c4' class=three>CNZ</td>

	<td class=one rowspan=4 title='c5 d5 e5 f5'>PUSH</td>


	<td title='c6' class=two>ADI</td>

	<td class=one rowspan=4 title='c7 d7 e7 f7'>RST</td>

	<td title='c8' class=one>RZ</td>

	<td title='c9' class=one>RET</td>
	<td title='ca' class=three>JZ</td>
	<th title='cb'>-</th>
	<td title='cc' class=three>CZ</td>
	<td title='cd' class=three>CALL</td>
	<td title='ce' class=two>ACI</td>

	<td class=one rowspan=4 title='cf df ef ff'>RST</td>

</tr><tr><td>D</td>
	<td title='d0' class=one>RNC</td>
	<td title='d2' class=three>JNC</td>
	<td title='d3' class=two>OUT</td>
	<td title='d4' class=three>CNC</td>
	<td title='d6' class=two>SUI</td>

	<td title='d8' class=one>RC</td>
	<th title='d9'>-</th>

	<td title='da' class=three>JC</td>
	<td title='db' class=two>IN</td>
	<td title='dc' class=three>CC</td>

	<th rowspan=3 title='DD, ED, FD'>-</th>
	<td title='de' class=two>SBI</td>

</tr><tr><td>E</td>
	<td title='e0' class=one>RPO</td>
	<td title='e2' class=three>JPO</td>
	<td title='e3' class=one>XTHL</td>
	<td title='e4' class=three>CPO</td>
	<td title='e6' class=two>ANI</td>

	<td title='e8' class=one>RPE</td>
	<td title='e9' class=one>PCHL</td>
	<td title='ea' class=three>JPE</td>
	<td title='eb' class=one>XCHG</td>
	<td title='ec' class=three>CPE</td>
	<td title='ee' class=two>XRI</td>

</tr><tr><td>F</td>
	<td title='f0' class=one>RP</td>

	<td title='f2' class=three>JP</td>
	<td title='f3' class=one>DI</td>
	<td title='f4' class=three>CP</td>
	<td title='f6' class=two>ORI</td>

	<td title='f8' class=one>RM</td>
	<td title='f9' class=one>SPHL</td>

	<td title='fa' class=three>JM</td>
	<td title='fb' class=one>EI</td>
	<td title='fc' class=three>CM</td>

	<td title='fe' class=two>CPI</td>
</tr>

</table>




</div>

<div class='right'>
	<div v-for='n in commands()' class='line' :class="[{ active: n === pc }, at_n(n)]">
		<span class='addr'>{{ hex16(n) }}</span> |
		<span class='op'>{{ hex8(at(n)) }}</span>
		<span class='asm'>{{ asm(n) }}</span>
	</div>

</div>

</div>

<script src='https://unpkg.com/vue'></script>
<script src='cpu.js'></script>
<script src='run.js'></script>
<script src='code.js'></script>

<script src='js8080.js'>
<script src='alu.js'></script>

<script src='disasm.js'>
// https://www.tramm.li/i8080/
</script>

<script src='main.js'></script>
</body>
</html>
